
.input-container{
  height: 50px;
  display: flex;
justify-content: center;
margin-top: 50px;
}

.App{
  display:flex;
  justify-content: center;

}
  
  .layout{
    display: flex;
     background-color:rgb(228, 228, 228);
     width: 700px;
      height: 800px;
      border-radius:15px;
      margin:100px;
      flex-direction: column;
  }
  

input{
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  width: 300px;
  border-width:1px;
  margin-right:10px;
  height:15px;
  border-style: none;

}


.btn{
  height:35px;
  border-radius:10px;
  border-width: 1px;
  border-style: none;
  background-color: rgb(209, 205, 205);
}

.btn:hover{
  background-color: rgb(159, 159, 159);
  border-width: 1px;
}

h1{
  text-align: center;
  margin-top: 70px;
}
.header{
  display: flex;
  flex-direction: row;
}

.list-item {
  list-style: none;
  border-radius: 10px;
  padding-left:10px;
  width :600px;
  justify-content: center;
  height: 25px;
  background-color: rgb(246, 246, 246);
}


.list-container{
  display: flex;
  align-items: center;
  margin-top:20px;
  flex-direction: column;
}
.row{
  display: flex;
}